.counter-area {
    display: flex;
    border: 2px solid black;
    border-radius: 5%;
    width: 6vw;
}

.button-increment {
    border: none;
    color: red;
    background-color: white;

}

.button-decrement {
    border: none;
    color: red;
    background-color: white;
    margin-right: 5px;
}